:root {
    --primary-color: #ffffff;
    --secondary-color: ;
    --primary-text-color: #333333;
    --primary-font: 'Open sans';
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}
.container {
    width: 1360px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* -//-//-//-//-//-//-//- Body -//-//-//-//-//-//-//- */
body {
    font-size: 14px;
    font-family: 'Open sans', sans-serif;
    letter-spacing: 0.03em;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}
ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}
.section-team {
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: var(--primary-color);
}

.team-subtitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.65;
    text-align: center;
    color: var(--primary-text-color);
}
.team-title {
    margin-bottom: 34px;
    font-family: inherit;
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    text-align: center;
    color: var(--primary-text-color);
}
.team-slogan {
    margin-bottom: 45px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    text-align: center;
    color: var(--primary-text-color);
}

.team-list {
    display: flex;
    justify-content: center;
    column-gap: 15px;
}

.team-member {
    margin-top: 12px;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.28;
    text-align: center;
    color: var(--primary-text-color);
}
.position {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    text-align: center;
    color: var(--primary-text-color);
}
.social-list-wrapper {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
     transform: translate(-50%, -50%);

}
.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}
.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.social-list-icon {
    fill: #fff;
}
.youtube-icon {
    width: 40px;
    height: 35px;
}
.linkedin-icon {
    width: 31px;
    height: 35px;
}



.team-box {
    position: relative;

}