:root {
  --color-hero-title: #E9E9E9;
  --color-white: #fff;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

/* section hero */

.hero {
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 229px;
  padding-bottom: 284px;
}

.hero-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  color: var(--color-hero-title);
  margin-bottom: 25px;
}

.hero-sub-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.68;
  color: var(--color-hero-title);
  margin-bottom: 29px;
}

.hero-btn {
  width: 165px;
  height: 48px;
  background: #28A745;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: var(--color-white);
  border: none;
}

