:root {
  --color-hero-title: #E9E9E9;
  --color-white: #fff;
  --text-color-offer:#FFFFFF;
  --btn-color-text: #FFFFFF;
  --btn-color-border:#FFFFFF;
  --text-color-offer: #FFFFFF;
  --btn-color-text: #FFFFFF;

}

h1,
h2,
h3,
h4,
p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color:inherit;
}
button {
  cursor: pointer;
  padding: 0px;
}

body{
font-family: 'Open Sans', sans-serif;
font-weight: 400;
}

.container{
  margin-left: auto;
  margin-right: auto;
  width: 1360px;
  padding-left: 10px;
  padding-right:10px ;
  outline: 2px solid red;
}


/* ==================== section hero ==================== */

.hero {
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 229px;
  padding-bottom: 284px;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  width: 1360px;
  margin: 0 auto;
}

.hero-box {
   width: 493px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  color: var(--color-hero-title);
  margin-bottom: 25px;
  outline: 2px solid red;
   
}

.hero-sub-title {
   outline: 2px solid red;
  min-width: 459px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.68;
  color: var(--color-hero-title);
  margin-bottom: 29px;


}

.hero-btn {
  width: 165px;
  height: 48px;
  background: #28A745;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: var(--color-white);
  border: none;
  padding: 10px 28px;
}

 
 .hero-btn-icon{
  width: 8px;
  height: 12px;
  fill: var(--color-white);
   
} 
/* 
<!-- Offer --> */

.offer-box {
  display: flex;
  padding: 0;

  background-color: var(--background-color-offer);
  color: var(--text-color-offer);
}

.offer-section {
  padding: 84px 44px 84px 30px;
}

.offer-subtitle {
  margin-bottom: 5px;

  font-size: 20px;
  line-height: 1.65;
}

.offer-title {
  margin-bottom: 26px;

  font-weight: 300;
  font-style: normal;
  font-size: 38px;
  line-height: 1.26;
}

.offer-text-content {
  margin-bottom: 17px;

  font-size: 18px;
  font-style: normal;
  line-height: 1.56;
}

.offer-btn {
  width: 167px;
  height: 50px;
  padding: 11px 27px 12px 42px;

  display: inline-block;

  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  line-height: 1.56;
  text-align: center;

  background-color: var(--background-color-offer);
  border: 1px solid var(--btn-color-border);
  color: var(--text-color-offer);
  border-radius: 5px;
}



/* Cases */
 
.cases{
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
}

.cases-box{

  padding-top: 50px;
  padding-bottom: 47px;
}
.cases .subtitle{
    margin-bottom: 15px;

    font-size: 20px;
    line-height: 1.65;
    text-align: center;

    color: #333333;

}
.cases .title{
    margin-bottom: 34px;

    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    text-align: center;

    color: #333333;
}
.cases .text-content{
    margin-bottom: 39px;

    font-size: 18px;
    line-height: 1.56;
    text-align: center;

    color: #333333;
}
.cases-gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 7px;
    column-gap: 8px;
  
}
/* 
  <!-- Наша команда --> */

 .section-team {
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: var(--primary-color);
}

.team-subtitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.65;
    text-align: center;
    color: var(--primary-text-color);
}
.team-title {
    margin-bottom: 34px;
    font-family: inherit;
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    text-align: center;
    color: var(--primary-text-color);
}
.team-slogan {
    margin-bottom: 45px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    text-align: center;
    color: var(--primary-text-color);
}

.team-list {
    display: flex;
    justify-content: center;
    column-gap: 15px;
}

.team-member {
    margin-top: 12px;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.28;
    text-align: center;
    color: var(--primary-text-color);
}
.position {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    text-align: center;
    color: var(--primary-text-color);
}
.social-list-wrapper {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
     transform: translate(-50%, -50%);

}
.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}
.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.social-list-icon {
    fill: #fff;
}
.youtube-icon {
    width: 40px;
    height: 35px;
}
.linkedin-icon {
    width: 31px;
    height: 35px;
}



.team-box {
    position: relative;

}

/*---------------SECTION-CONTACT---------------------*/
.contact {
  display: flex;
}
.contact-box{
  display: flex;
}
.contact-section
{
  background-color: #F4F4F4;
  width: 680px;
  height: 460px;
  margin-left: auto;
  margin-right: auto;

  padding: 78px 30px 82px 30px ;
}

.title-section {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    color: #333333;
    margin-bottom: 34px;
}



.input{
    width: 100%;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    font-size: 18px;
    line-height: 1.55;
    color: #212121;
    outline: none;
  padding-left: 10px;
    
}
.input-2 {
  margin-bottom: 36px;
}


.input::placeholder {
  color: #808080;
  padding: 0px;
  padding-top: 6px ;
  padding-bottom: 5px;
  padding-left: 5px;

}
.contact-btn {
    font-size: 18px;
    line-height: 1.38;
    
    color: #FFFFFF;
background-color: #28A745;

width: 100%;
height: 42px;
border: none;

margin-top: 60px;

border-radius: 5px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.contact-btn:hover,
.contact-btn:focus {
  background-color: #169A3B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

